:root {
  --primary-color: #3d6e35;
  --secondary-color: #a1c4d1;
  --accent1-color: #efc300;
  --accent2-color: #3c6f6f;
  --heading-font: "Libre Franklin", sans-serif;
  --body-font: "Crimson Text", sans-serif;
}
header {
  background-color: var(--primary-color);
  color: var(--accent2-color);
}
body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}
header,
main,
footer {
  width: 840px;
  margin: 0 auto;
}
h1,
h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}
nav,
p,
section,
article {
  margin: 16px;
  padding: 8px;
}
.socialmedia a {
  text-decoration: none;
}
