:root {
  --primary-color: #3d6e35;
  --secondary-color: #a1c4d1;
  --accent1-color: #5e7c05;
  --accent2-color: #3c6f6f;
  --heading-font: "Libre Franklin", sans-serif;
  --body-font: "Crimson Text", serif;
}

header {
  background-color: var(--primary-color);
  color: var(--accent2-color);
  display: grid;
  grid-template-columns: 3fr 4fr 1fr;
}

nav {
  background-color: var(--primary-color);
  color: var(--accent2-color);
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
button {
  font-size: 15px;
}
nav {
  background-color: var(--primary-color);
  color: var(--accent2-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.moqups {
  justify-content: flex-start;
}
nav a {
  background-color: #fff;
  text-decoration: none;
  color: black;
  padding: 4.7px 10px;
  border: 1px solid black;
}

nav a:hover {
  background-color: #eee;
}
/* ":" are the estados. "hover" indicates the action that the object is going to take when the mouse is over that object */
.logo {
  margin-top: 9px;
  margin-bottom: 3px;
  margin-left: 120px;
}
.logo img {
  width: 100px;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

header,
main,
footer {
  width: 840px;
  margin: 0 auto;
}
h1,
h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav,
p,
section,
article {
  margin: 16px;
  padding: 8px;
}
.socialmedia a {
  text-decoration: none;
}
.hero {
  position: relative;
}
.hero img {
  display: block;
  width: 100%;
  height: auto;
}
h1 {
  position: absolute;
  top: 20px;
  width: 98.8%; /* I used it instead of 100% because the h1 in 100% was larger than my hero img */
  padding: 6px;
  text-align: center;
  opacity: 0.8;
  background-color: var(--accent1-color);
  color: white;
}
h2 {
  text-align: center;
}
.five-images {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: start;
  gap: 10px;
  margin: 0 20px;
}
.five-images img {
  max-width: 135px;
  /*max-height: 75px;*/
}

figure {
  border: thin #c0c0c0 solid;
  padding: 5px;
  margin: 0;
}

article {
  position: absolute;
  top: 200px;
  width: 96.5%;
  padding: 0px;
  text-align: center;
  background-color: var(--accent2-color);
  color: #fff;
}
.hero article img {
  float: right;
  margin: 3px 0px 0px 3px;
  border: 10px solid var(--accent2-color);
  padding: 3px;
  background-color: gray;
  width: 100px;
  height: 60px;
}
.history section {
  /*display: flex;
  flex-direction: row;*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.history section h2 {
  grid-column: 1/4;
}
.p1 {
  grid-column-start: 1;
}
.img {
  grid-column-start: 2;
  /*display: grid;
  place-items: center;  This makes a margin arround the img. With felx, the img cover all the space.*/
  display: flex;
  justify-content: center;
}
.p2 {
  grid-column-start: 3;
}
.adventure {
  margin-top: 80px;
}
.footer img {
  width: 40px;
  padding: 3px;
  display: flex;
  justify-content: space-around;
}
.gotrips {
  background-color: #fec63e;
  padding: 4.7px 10px;
  border: 2px solid black;
  border-radius: 5px;
  margin: auto;
  display: inline-block;
  grid-column-start: 2;
}
.gotrips:hover {
  background-color: #b8a314;
}
.forms {
  background-color: #cdb200;
}
.forms:hover {
  background-color: #b8a314;
}

.gotrips a {
  text-decoration: none;
}
.trip {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 840px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.popular,
.triptable {
  margin: 0px;
  padding: 0px;
}
.popular > section {
  display: flex;
  /*max-height: 240px;*/
  min-width: 360px;
  margin-right: 0px;
  margin-left: 0px;
}
.ptrips h3,
.ppopular h3,
.pmost h3 {
  writing-mode: sideways-lr;
  text-align: center;
  background: gainsboro;
  margin: 13px;
}
.ptrips img,
.ppopular img,
.pmost img {
  width: 100px;
  object-fit: none;
}
.ptrips p,
.ppopular p,
.pmost p {
  margin: 0px;
  font-size: small;
}
.holidays img {
  width: 90px;
  margin-left: 3px;
}
.holidays {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 80%;
}
.trip h4 {
  font-weight: normal;
  margin: 0px;
}
.ptrips section,
.ppopular section,
.pmost section {
  margin: 0px;
}
table {
  border: 1px solid rgb(140, 140, 140);
  border-collapse: collapse;
  border-spacing: 0;
  margin: 5px;
  width: 90%;
}
th,
td {
  border: 1px solid rgb(160, 160, 160);
  padding: 2px 5px;
}
th,
thead {
  background-color: gainsboro;
  text-align: left;
}
.getintouch {
  display: grid;
  grid-template-columns: 2fr 3fr;
  width: 840px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.employees img {
  width: 130px;
  height: 100px;
}
.employees {
  display: flex;
  gap: 12px;
  justify-content: center;
}
.employeessection h2 {
  margin-bottom: 10px;
}
.contactinfo {
  display: grid;
  grid-template-columns: 2fr 1fr;
  place-items: center;
  margin-top: 50px;
}
.contactinfo span {
  color: #3c6f6f;
}
.map {
  place-items: center;
}

.contacticon a {
  text-decoration: none;
  grid-row-start: 2;
}
.map iframe {
  width: 200px;
  height: 200px;
}
.contact {
  margin-top: 0px;
}
section.home {
  max-width: 840px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 0 auto;
  position: relative;
}

.home-quetions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 0;
}

.home-quetions .questions {
  display: flex;
  gap: 10px;
}

.question-image {
  width: 120px;
  height: 60px;
  border-radius: 10px;
  overflow: hidden;
}

.question-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.form {
  margin-right: 0px;
  background-color: white;
  border: 1px solid #000;
  padding-top: 10px;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 1);
}
.titlecolor {
  width: 100%;
  text-align: center;
  background-color: #627656;
  color: white;
  display: block;
}
.formbutton {
  margin-left: auto;
  background-color: #fec63e;
  border: 2px solid #000;
  border-radius: 5px;
  margin-top: 10px;
}
.formhome {
  padding-top: 0;
  margin-top: 0;
}

.formhome img {
  width: 320px;
}

.questions h2 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

.questions {
  margin-right: 0;
  margin-top: 80px;
}

.questions p {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 10px;
  max-height: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  margin: 0;
}

.meditation {
  margin-right: 0px;
  display: flex;
  align-items: center;
}
.meditation img {
  width: 100%;
  margin-left: 10px;
  height: 100%;
  object-fit: cover;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid #000;
  padding-top: 10px;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 1);
}

.newsletter-title {
  width: 100%;
  text-align: center;
  background-color: #627656;
  color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  font-size: 16px;
}

.form-group {
  display: flex;
  width: 80%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.form-container button {
  margin-left: auto;
  background-color: #fec63e;
  border: 2px solid #000;
  border-radius: 5px;
  margin-top: 10px;
}

.form-container button:hover {
  background-color: #bbd6ac;
}

.tripsite {
  margin: 0;
  padding: 0;
  min-width: 120px;
  margin-top: 20px;
}

.tripsite a {
  margin-top: 10px;
  text-align: center;
  background-color: #fec63e;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 600;
}

.tripsite a:hover {
  background-color: #bbd6ac;
}
