:root {
  --primary-color: #3d6e35;
  --secondary-color: #a1c4d1;
  --accent1-color: #efc300;
  --accent2-color: #3c6f6f;
  --heading-font: "Libre Franklin", sans-serif;
  --body-font: "Crimson Text", serif;
}

header {
  background-color: var(--primary-color);
  color: var(--accent2-color);
  display: grid;
  grid-template-columns: 3fr 4fr 1fr;
}

nav {
  background-color: var(--primary-color);
  color: var(--accent2-color);
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
button {
  font-size: 15px;
}
nav {
  background-color: var(--primary-color);
  color: var(--accent2-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.logo {
  margin-top: 9px;
  margin-bottom: 3px;
  margin-left: 120px;
}
.logo img {
  width: 100px;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

header,
main,
footer {
  width: 840px;
  margin: 0 auto;
}
h1,
h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav,
p,
section,
article {
  margin: 16px;
  padding: 8px;
}
.socialmedia a {
  text-decoration: none;
}
.hero {
  position: relative;
}
.hero img {
  display: block;
  width: 100%;
  height: auto;
}
h1 {
  position: absolute;
  top: 20px;
  width: 98.8%; /* I used it instead of 100% because the h1 in 100% was larger than my hero img */
  padding: 6px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #3d4242;
}
h2 {
  text-align: center;
}
.five-images {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: start;
  gap: 10px;
  margin: 0 20px;
}
.five-images img {
  max-width: 135px;
  /*max-height: 75px;*/
}

figure {
  border: thin #c0c0c0 solid;
  padding: 5px;
  margin: 0;
}

article {
  position: absolute;
  top: 200px;
  width: 96.5%;
  padding: 0px;
  text-align: center;
  background-color: var(--accent2-color);
  color: #fff;
}
.hero article img {
  float: right;
  margin: 3px 0px 0px 3px;
  border: 10px solid var(--accent2-color);
  padding: 3px;
  background-color: gray;
  width: 100px;
  height: 60px;
}
.history section {
  /*display: flex;
  flex-direction: row;*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.history section h2 {
  grid-column: 1/4;
}
.p1 {
  grid-column-start: 1;
}
.img {
  grid-column-start: 2;
  /*display: grid;
  place-items: center;  This makes a margin arround the img. With felx, the img cover all the space.*/
  display: flex;
  justify-content: center;
}
.p2 {
  grid-column-start: 3;
}
.socialmedia img {
  width: 60px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
/*#article-image {
  top: 180px;
  float: right;
  margin: 20 0 10px 5px;
  border: 10px solid var(--accent2-color);
  padding: 3px;
  background-color: gray;
  width: 100px;
  height: 50px;} */
/* This works when I have an id in the html for the image of the article ;
  like the following:
  src="images/happy-clients-small-image.jpg"
            id="article-image"
            alt="Happy clients"*/
